# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=vLnf0n-IWVl2Q_Q9Vvo72M6qX_sEBFYX
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1234
DB_DATABASE=weekly-late-tracker
MAIL_MAILER=smtp
MAIL_FROM_NAME=Weekly Report
MAIL_FROM_ADDRESS=no-reply@tracker.com
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=d4708b3fcbabe3
SMTP_PASSWORD=4a35c127de5b81