@layout()
  <div class="hero">
    <h1>Weekly Late Tracker</h1>
    <p>Track late minutes of employees</p>
  </div>
  <div class="cards">
    <a href="/late-entry">
      <h3>Late Entry &nbsp;›</h3>
      <p>Enter late minutes for employees</p>
    </a>

    <a href="/reports">
      <h3>Reports &nbsp;›</h3>
      <p>See whole data</p>
    </a>
@end
